mixin b_category()
	+b.category
		+e.text Виберіть категорію
			
		



//- +b.header
//- 	+e.search
//- 		+b-search()
//- 	+e.menu
//- 		+b_menu()
//- 	+e("a").logo
//- 		+e("img").logo-img
//- 	+e("a").button.btn
